* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* =============== common =============== */
a {
  text-decoration: none;
  color: currentColor;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0 41px;
  line-height: 68px;
  border-radius: 14px;
  background: #1ebfc1;
  box-shadow: 0px 10px 50px 0px #0000000d;
}

.btn:hover {
  opacity: 0.9;
}

.top-title {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: normal;
}

.heading-lv2 {
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.33;
}

/* =============== header =============== */
.header {
  background: #fff;
}

.header.fixed {
  z-index: 1;
  position: sticky;
  top: -44px;
}

.header .body {
  padding: 52px 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
}

.nav a {
  color: #2f3a3b;
  padding: 8px 20px;
}

.action .action-link {
  color: #494949;
}

.nav a:hover,
.action .action-link:hover {
  color: #2f3a3b;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.action .action-btn {
  margin-left: 24px;
  display: inline-block;
  min-width: 108px;
  line-height: 46px;
  color: #1ebfc1;
  text-align: center;
  font-weight: 600;
  border: 1px solid #1ebfc1;
  border-radius: 6px;
}

.action .action-btn:hover {
  background: #1ebfc1;
  color: #fff;
  transition: 0.3s;
}

/* =============== hero =============== */
.hero {
  padding: 42px 0 79px;
}

.hero .body {
  display: flex;
}

.hero .content-block {
  width: 51%;
}

.hero .content-block .top-title {
  margin-top: 93px;
  color: #767e7e;
  font-size: 1.4rem;
  line-height: 1.5;
}

.hero .content-block .title {
  margin-top: 18px;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16;
}

.hero .content-block .desc {
  margin-top: 46px;
  max-width: 374px;
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 1.78;
}

.hero .content-block .desc-span {
  display: inline-block;
}

.hero .cta-group {
  margin-top: 52px;
  display: flex;
  align-items: center;
}

.hero .play-video {
  margin-left: 50px;
  width: 62px;
  height: 62px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 22px 50px 0px #0000000d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .play-video:hover {
  background: #eee;
  box-shadow: 0px 0px 0px 0px rgba(196, 26, 134, 0.5);
  transition: 0.5s;
  cursor: pointer;
}

.hero .media-block {
  display: flex;
  justify-content: flex-end;
  width: 49%;
  position: relative;
}

.hero .media-block .media {
  width: 576px;
  height: 631px;
  object-fit: cover;
}

.hero .media-course {
  width: 157px;
  height: 75px;
  background: #fefefd;
  border-radius: 18px;
  display: flex;
  position: relative;
  gap: 16px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 149px;
  left: -40px;
  box-shadow: 0px 10px 80px 0px #0000000d;
}

.hero .media-course::after {
  position: absolute;
  top: 45px;
  left: 29px;
  content: "";
  display: inline-block;
  width: 28px;
  height: 4px;
  background: #fff;
  border-radius: 999px;
}

.hero .course-icon {
  width: 36px;
  height: 40px;
}

.hero .media-course .detail {
  width: 55px;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}

.hero .media-schedules {
  position: absolute;
  top: 453px;
  left: -65px;
  width: 124px;
  height: 132px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px #0000000d;
}

.hero .media-schedules .detail {
  display: inline-block;
  margin: 16px 35px 0;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}

.hero .schedules-icon {
  margin: 16px 25px 0;
  display: block;
  width: 74px;
  height: 6px;
  border-radius: 3px;
  background: #edf1f5;
}

.hero .media-schedules .icon-2 {
  margin-top: 12px;
}

.hero .media-schedules .icon-3 {
  margin-top: 10px;
}

.hero .media-schedules .icon-4 {
  margin: 16px 49px auto;
  width: 26px;
  height: 6px;
}

.hero .avatar-block {
  position: absolute;
  top: 500px;
  left: 324px;
  width: 207px;
  height: 90px;
  background: #fefefd;
  border-radius: 24px;
  box-shadow: 0px 12px 80px 0px #0000000d;
}

.hero .avatar-block .detail {
  display: inline-block;
  margin: 17px 35px 0;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}

.hero .avatar-block .ava {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 8px;
  margin-left: -7px;
}

.hero .ava-list {
  display: flex;
}

.hero .avatar-block .ava:first-child {
  margin-left: 35px;
}

.hero .avatar-block .ava-more {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1ebfc1;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  color: #fff;
}

/* =============== feature =============== */
.feature {
  margin-top: 70px;
}

.feature .body {
  max-width: 1024px;
  padding: 60px 0;
}

.feature .heading-lv2 {
  margin-top: 18px;
  max-width: 577px;
}

.feature .desc {
  margin-top: 18px;
  max-width: 590px;
  color: #767e7e;
  font-size: 1.8rem;
  line-height: normal;
}

.feature .feature-list {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.feature .feature-list .item-title {
  margin-top: 26px;
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
}

.feature .item .item-desc {
  margin-top: 16px;
  color: #9da6a5;
  font-size: 1.6rem;
  line-height: 1.69;
}

.feature .item:first-child .item-desc {
  max-width: 168px;
}

.feature .item:nth-child(2) .item-desc {
  max-width: 223px;
}

.feature .item:nth-child(3) .item-desc {
  max-width: 224px;
}

/* =============== course =============== */

.course {
  margin-top: 10px;
}

.course .body {
  padding: 60px 0 184px;
}

.course .heading-lv2 {
  margin-top: 18px;
  line-height: 1.5;
}

.course .row-top {
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course .row-top .desc {
  color: #767e7e;
  font-size: 1.8rem;
  line-height: 1.78;
  max-width: 525px;
}

.course .all-course {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: normal;
  text-decoration: underline;
}

.course .course-list {
  margin-top: 79px;
  display: flex;
  gap: 47px;
  /* overflow: hidden; */
}

.course .course-item {
  position: relative;
  flex-shrink: 0;
  width: calc(33.33% - 31px);
}

.course .course-item .thumb {
  width: 100%;
  height: 393px;
  object-fit: cover;
  border-radius: 8px;
  background: #d0efed;
}

.course .course-item .course-detail {
  position: absolute;
  top: 322px;
  left: 17px;
  width: 325px;
  height: 195px;
  background: #fff;
  border-radius: 8px;
  padding: 18px 25px;
  box-shadow: 0px 16px 90px 0px #0000000d;
}

.course .heading-lv3 {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: normal;
}

.course .course-detail .cost {
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: normal;
}

.course-detail .cost span {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: normal;
}

.course .course-detail .desc {
  margin-top: 6px;
  color: #9da6a5;
  font-size: 1.4rem;
  line-height: normal;
}

.course .course-detail .static {
  margin-top: 18px;
  display: flex;
  gap: 10px;
}

.course .static span {
  color: #9da6a5;
  font-size: 1.4rem;
  line-height: normal;
  display: flex;
  align-items: center;
}

.course .static span::before {
  margin-right: 10px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #1ebfc1;
  border-radius: 50%;
}

/* =============== countdown =============== */
.countdown {
  margin-top: 145px;
}

.countdown .body {
  padding: 60px 154px;
  display: flex;
  justify-content: space-between;
}

.countdown .item .static {
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: normal;
  display: block;
  text-align: center;
}

.countdown .item .desc {
  margin-top: 11px;
  color: #767e7e;
  font-size: 1.8rem;
  line-height: normal;
  text-align: center;
}

/* =============== feedback =============== */
.feedback {
  margin-top: 205px;
}

.feedback .body {
  padding: 37px 0;
  position: relative;
}

.feedback .block-quote {
  width: 36px;
  height: 29px;
  object-fit: cover;
}

.feedback blockquote {
  margin-top: 27px;
  color: #5d6564;
  max-width: 419px;
  font-size: 3.2rem;
  line-height: normal;
}

.feedback .desc {
  display: flex;
  align-items: center;
  margin-top: 33px;
  color: #767e7e;
  font-size: 1.6rem;
  line-height: normal;
}

.feedback .desc::before {
  margin-right: 5px;
  content: "";
  display: inline-block;
  width: 8px;
  height: 2px;
  background: #070707;
}

.feedback strong {
  color: #000;
  display: inline-block;
  margin-right: 6px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: normal;
}

.feedback .feedback-cta {
  margin-top: 52px;
  display: flex;
  gap: 30px;
}

.feedback .feedback-cta .cta-btn-group {
  width: 50px;
  height: 50px;
  background: #2ac9bf;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback .feedback-cta .cta-btn-group:hover {
  opacity: 0.9;
  border: 2px solid #ffffff;
}

.feedback .ava-fb {
  position: absolute;
  border-radius: 50%;
  object-fit: cover;
}

.feedback .ava-fb-1 {
  top: 0;
  left: 635px;
  width: 92px;
  height: 92px;
}

.feedback .ava-fb-2 {
  top: 19px;
  right: 0;
  width: 110px;
  height: 110px;
}

.feedback .ava-fb-3 {
  top: 107px;
  left: 764px;
  width: 235px;
  height: 235px;
}

.feedback .ava-fb-4 {
  top: 258px;
  left: 491px;
  width: 78px;
  height: 78px;
}

.feedback .ava-fb-5 {
  bottom: 0;
  left: 703px;
  width: 78px;
  height: 78px;
}

.feedback .ava-fb-6 {
  bottom: 29px;
  right: 32px;
  width: 78px;
  height: 78px;
}
